.rivals-content {
  max-width: 1000px;
  margin: 0 auto;
}

.rivals-content h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.leadrboard {
  width: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid var(--bg-color-2);
}

.leadrboard-head_left {
  text-align: left;
}

.leadrboard-head_num {
  text-align: left;
  color: var(--color-4);
}

.leadrboard-body:first-child {
  color: var(--color-5);
}

.leadrboard-row:nth-child(-n + 5) td:first-child {
  color: var(--color-1);
}

.leadrboard-row {
  margin-top: 10px;
}

.leadrboard-col {
  padding-top: 10px;
  border-bottom: 1px solid var(--bg-color-2);
}

.leadrboard-col_ban {
  font-size: 0.8rem;
}

.leadrboard-col_name a {
  text-decoration: none;
}

.leadrboard-col_num {
  color: var(--color-4);
}

.leadrboard-col_point {
  text-align: center;
}

.leadrboard-col_players {
  font-size: 0.9rem;
  color: var(--color-4);
}

.leadrboard-col_name .leadrboard-col_team {
  text-decoration: underline;
}
